services:
  server:
    build:
      context: .
    container_name: "server"
    ports:
      - "4000:4000"
    depends_on:
      - redisDB
      - sessionsDB

  
  redisDB:
    container_name: "database"
    image: "redis:alpine"

  sessionsDB:
    container_name: "sessionsDB"
    image: "redis:alpine"